.main {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.selectbox {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  width: 320px;
  outline: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 320px;
  margin: 15px;
  border-radius: 5px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
